parameters:
    theme.class:                  "Bigfoot\\Bundle\\CoreBundle\\Theme\\Theme"
    theme.twig_namespace:         "BigfootCoreBundle"
    theme.section.toolbar:        "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\ToolbarSection"
    theme.section.header:         "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\HeaderSection"
    theme.section.sidebar:        "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\SidebarSection"
    theme.section.page_header:    "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\PageHeaderSection"
    theme.section.page_content:   "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\PageContentSection"
    theme.section.footer:         "Bigfoot\\Bundle\\CoreBundle\\Theme\\Section\\FooterSection"
    menu.class:                   "Bigfoot\\Bundle\\CoreBundle\\Theme\\MenuFactory"
    kernel_listener.class:        "Bigfoot\\Bundle\\CoreBundle\\Listener\\KernelListener"
    route_manager.class:          "Bigfoot\\Bundle\\CoreBundle\\Route\\RouteManager"
    translatable_type.class:      "Bigfoot\\Bundle\\CoreBundle\\Form\\Type\\TranslatedEntityType"
    sortable_type.class:          "Bigfoot\\Bundle\\CoreBundle\\Form\\Type\\SortableEntityType"
    available_languages:          [ 'fr_fr','en_en','it_it', 'de_de' ]
services:
    # Core menu listener ; adds or renames the Sidebar > Settings menu
    kernel.listener.bigfoot_core_menu_listener:
        class: Bigfoot\Bundle\CoreBundle\Listener\MenuListener
        tags:
            - { name: kernel.event_listener, event: bigfoot.menu.generate, method: onMenuGenerate }
    # Services dedicated to the BackOffice theme
    bigfoot.theme:
        class:        "%theme.class%"
        arguments:    [@service_container, @bigfoot.section_toolbar, @bigfoot.section_header, @bigfoot.section_sidebar, @bigfoot.section_page_header, @bigfoot.section_page_content, @bigfoot.section_footer]
        calls:
            - [ setTwigNamespace, [ %theme.twig_namespace% ] ]
    bigfoot.section_toolbar:
        class:        "%theme.section.toolbar%"
        arguments:    [@service_container]
        public: false
    bigfoot.section_header:
        class:        "%theme.section.header%"
        arguments:    [@service_container]
        public: false
    bigfoot.section_sidebar:
        class:        "%theme.section.sidebar%"
        arguments:    [@service_container]
        public: false
    bigfoot.section_page_header:
        class:        "%theme.section.page_header%"
        arguments:    [@service_container]
        public: false
    bigfoot.section_page_content:
        class:        "%theme.section.page_content%"
        arguments:    [@service_container]
        public: false
    bigfoot.section_footer:
        class:        "%theme.section.footer%"
        arguments:    [@service_container]
        public: false
    bigfoot.menu_factory:
        class:        "%menu.class%"
        arguments:    [@service_container]
    # Route management
    bigfoot.route_manager:
        class:        "%route_manager.class%"
        arguments:    [@service_container]
    # Tags management
    bigfoot.form.type.bigfoot_tag:
        class: Bigfoot\Bundle\CoreBundle\Form\Type\BigfootTagType
        arguments: [ @doctrine.orm.entity_manager ]
        tags:
            - { name: form.type, alias: bigfoot_tag }
    # Entity translation in forms
    form.type.translatable:
        class: %translatable_type.class%
        arguments: [ @service_container, '%available_languages%' ]
        tags:
            - { name: form.type, alias: translatable_entity }
    # Sortable form type
    form.type.sortable:
        class: %sortable_type.class%
        tags:
            - { name: form.type, alias: sortable_entity }
    bigfoot.form.type.collection_item:
            class: Bigfoot\Bundle\CoreBundle\Form\Type\CollectionItemType
            tags:
                - { name: form.type, alias: bigfoot_collection_item }
