{% twig_js name="confirmModal" %}
<div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ confirmTitle | default('Please confirm') }}</h4>
            </div>
            <div class="modal-body">
                {{ confirmMessage | default('Are you sure you want to perform this action ?') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ confirmButtonCancel | default('Cancel') }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="ok">{{ confirmButtonOk | default('Ok') }}</button>
            </div>
        </div>
    </div>
</div>