<div class="widget">
    <div class="widget-head">
        <div class="pull-left">{{ list_title | trans }}</div>
        {% if theme.page_content.globalActions is defined and theme.page_content.globalActions|length %}
            <div class="widget-icons pull-right">
                {% for item in theme.page_content.globalActions.items %}
                    {% include 'BigfootCoreBundle:menu:item.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                {% for attr, field in fieldsList %}
                    <th>{{ field | trans }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {% for attr, field in fieldsList %}
                        <td>{{ attribute(entity, attr) }}</td>
                    {% endfor %}
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-link" href="{{ path(action_edit, { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>