{% twig_js name="localeTabs" %}
<div id="locale-tabs">
    {% for locale in locales %}
        <a href="#"{% if locale == currentLocale %} class="active"{% endif %} data-locale="{{ locale }}"><img src="{{ basepath }}/bundles/bigfootcore/img/flags/{{ locale }}.gif" title="{{ locale }}" /></a>
    {% endfor %}
</div>